In [8]:
import mysql.connector as sq
db=sq.connect(host='localhost',user='root',password='9100',database="placements")

data=db.cursor()
data.execute('show databases')
for i in data:
    print(i)
data.execute('use placements')

('information_schema',)
('mysql',)
('performance_schema',)
('placements',)
('sakila',)
('sys',)
('world',)

In [18]:
import mysql.connector as sq
db=sq.connect(host='localhost',user='root',password='9100',database="placements")

data=db.cursor()
data.execute('show tables')
for x in data:
    print(x)

print("----- Data in table------")
data.execute("select* from jobs")
for y in data:
    print(y)

('jobs',)
----- Data in table------
('AB inbev', '12 lakhs', 'Rejected', 1)
('TCS', '7 lakhs', 'Waiting', 2)
('ZS', '12.5 Lakhs', 'Applied', 3)

In [19]:
sql="insert into jobs(company,CTC,status) values(%s,%s,%s)"
val=("Hyperverg","10 Lakhs","appllied")

data.execute(sql,val)

In [20]:
data.execute("select*from jobs")

for i in data:

    \print(i)

('AB inbev', '12 lakhs', 'Rejected', 1)
('TCS', '7 lakhs', 'Waiting', 2)
('ZS', '12.5 Lakhs', 'Applied', 3)
('Hyperverg', '10 Lakhs', 'appllied', 4)