In [1]:
#prime Numbers

num = int(input("Enter a number: "))  
  
if num > 1:  
    for i in range(2,num):  
        if (num % i) == 0:  
            print(num,"is not a prime number")   
            break  
    else:  
        print(num,"is a prime number")  
         
else:  
    print(num,"is not a prime number")

Enter a number: 9
9 is not a prime number

In [2]:
# prime method 2

num = int(input("Enter a number: ")) 

for i in range(2,num):
    if(num%i==0):
        break
        
print(i,'>',num/2,'=',i>num/2)

if(i>num/2):
    print("prime")
else:
    print("Not prime")

Enter a number: 23
22 > 11.5 = True
prime

In [6]:
#prime number Finding

n=int(input("enter N:"))
for i in range(2,n+1):
    if(i>1):
        for j in range(2,i):
            if(i%j==0):
                break;
        else:
            print(i,end=" ")

enter N:50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [3]:
#prime number Finding

n=int(input("enter N:"))
for i in range(2,n+1):
    for j in range(2,i):
        if(i%j==0):
            break;
    else:
        print(i,end=" ")

enter N:50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [6]:
#swap
a=int(input("a:"))
b=int(input("b:"))

t=a
a=b
b=t
print('a =',a,"&","b=",b)

a:5
b:4
a = 4 & b= 5

In [22]:
#swap using 2 numbers 

a=int(input("a:"))
b=int(input("b:"))

a=a+b
b=a-b
a=a-b
print('a =',a,"&","b=",b)

a:12
b:24
a = 24 & b= 12

In [4]:
#leap year

y=int(input("enter year:"))
if(y%4==0):
    if(y%100==0):
        if(y%400==0):
            print("Leap year")
        else:
            print("Not a leap")
    else:
        print("Leap")
else:
    
    print("not a leap")

enter year:2022
not a leap

In [5]:
#leap year

y=int(input("enter year"))
if(y%4==0 and y%100!=0 or y%400==0):
    print("leap")
else:
    print("not a leap")

enter year2016
leap

In [13]:
#sum of digits

n=int(input("enter n:"))
sum=0
while(n>0):
    b=n%10
    sum=sum+b
    n=n//10
print(sum)

enter n:1122
6

In [2]:
# no of digits

n=int(input("enter n:"))
x=n
count=0
while(n>0):
    count=count+1
    n=n//10
print(x,'has',count,"digits")

enter n:456
456 has 3 digits

In [20]:
# Reverse 
n=int(input())
re=0
while(n>0):
    b=n%10
    re=re*10+b
    n=n//10
print(re)

1234
4321

In [5]:
#reverse string
s1=input("enter s1:")
s2=''
for i in s1:
    s2=i+s2
if(s1==s2):
    print("palindrome")
else:
    print("Not palindrome")

enter s1:radar
palindrome

In [13]:
# celius to farheit
c=float(input("enter celius:"))
f=(1.8*c)+32
print("Temp in F={0:.2f}".format(f))

enter celius:45.6
Temp in F=114.08

In [17]:
f=float(input("enter celius:"))
c=((f-32)*5/9)
print("%.2f"%c)

enter celius:114.08
45.60

In [1]:
#adding
a=int(input("a:"))
b=int(input("b:"))

c=a-(-b)
print(c)

a:5
b:4
9

In [3]:
#subtracting
a=int(input("a:"))
b=int(input("b:"))

print(~b,~b+1)
c=a+(~b+1)
print(c)

a:5
b:3
-4 -3
2

In [7]:
#Multiplication
def multiply(n1,n2):
    mul=0
    if(n2<0):
        n2=-n2
        n1=-n1
    for i in range(1,n2+1):
        mul=mul+n1
    return mul

a=int(input("a:"))
b=int(input("b:"))

print(multiply(a,b))

a:5
b:4
20

In [9]:
# Reverse String
st=input("Enter:")
rev=" "

for i in st:
    rev=i+rev

print(rev)

Enter:red
der

In [11]:
def rev(s):
    str=" "
    for i in s:
        str=i+str
    return str

s=input("enter s: ")
r=rev(s)
print(r)

enter s: raju
ujar

In [15]:
# max in array

arr=[12,54,14,1,20,16]
ma=0
for i in range(len(arr)):
    if(arr[i]>ma):
        ma=arr[i]
        
print(ma,"is max")

54 is max

In [8]:
a=float(input())
count=0

while(a>1):
    a=a//2
    count=count+1
print(count)
count=0

783
9

In [23]:
for i in range(100,200):
    if(i%3==0 and i%5==0):
        print(i,end=" ")

105 120 135 150 165 180 195

In [30]:
sum=0
for i in range(101,1,-1):
    sum=sum+i
print(sum,end=" ")

5150

In [36]:
for i in range(0,10):
    for j in  range(1,i+1):
        if(i%2==0):
            print("Blank Line")
            break
        else:
            print("*",end=" ")
    print()

*
Blank Line

* * *
Blank Line

* * * * *
Blank Line

* * * * * * *
Blank Line

* * * * * * * * *

In [45]:
for i in range(65,91):
    print(chr(i),end=" ")

print(" ")

for i in range(97,123):
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
a b c d e f g h i j k l m n o p q r s t u v w x y z

In [7]:
a=0
b=1
n=15
while(a<=n):
    c=a
    a=b
    b=a+c
    print(c,end=" ")

0 1 1 2 3 5 8 13

In [12]:
su=0
count=0
for i in range(10,501):
    if(i%3==0 and i%5==0 and i%12==0):
        su=su+i
        count=count+1

avg=su/count
print(su)
print(count)
print(avg)

2160
8
270.0

In [6]:
k=1
n=int(input("N:"))
for i in range(n):
    for j in range(i+1):
        print(k,end=" ")
        k=k+1
    print(" ")

N:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [5]:
n=int(input())
sum=0
for i in range(1,n+1):
    sum=sum+(i*i)
    
print(sum)

3
36